/****Loader for 01****/
#preloader-1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  z-index: 111;
  background-color: #a08e32; 
  }
#status-1 {
  position: absolute;
  top: ;
  left: 0;
  width: 100%;
  height: 100%;  
}
.bullet-1 {
  top: 50%;
  width: 44px;
  position: absolute;
  height: 44px;
  left: 50%;
  margin-left: -22px;
  margin-top: -22px;
  background:url('../images/loader-02.gif') center no-repeat;
}
/****Loader for 02****/
#preloader-2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  z-index: 111;
  background-color: #dfb746; 
  }
.bullet-2 {
  top: 50%;
  width: 44px;
  position: absolute;
  height: 44px;
  left: 50%;
  margin-left: -22px;
  margin-top: -22px;

  background:url('../images/loader-02.gif') center no-repeat;
}